.select-container {
  width: 12rem;
  max-width: 12rem;
}

.select-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25rem 0 0.25rem;
  border-radius: 0.25rem;
  width: 12rem;
  border: 1px solid rgba(0,0,0,0.1);
  transition: all 0.2 ease-in-out;
  background-color: white;
}

.chevron {
    opacity: 0.2;
  }

.select-button-container:hover{
  background-color: rgba(0,0,0,0.05)
}

.select-option {
  display: flex;
  align-items: center;
  height: 2.5rem;
  background-color: white;
  cursor: pointer;
  transition: all 0.2 ease-in-out;
  border: 0;
  width: 12rem;
  max-width: 12rem;
}

.select-option-wrapper {
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  overflow: hidden;
  position: absolute;
  z-index: 50;
}

.select-option:hover{
  background-color: rgba(0,0,0,0.05)
}

.option-icon {
  margin-right: 1rem;
}