.dialog {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 1rem;
  min-width: 560px;
}

.form-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.url-input {
  width: 30rem;
  padding: 0.5rem;
}

.preview-image {
  min-height: 350px;
  display: grid;
  place-items: center;
  object-fit: cover;
  width: 100%;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
  background: none;
}

.close-btn:hover {
  scale: 1.1;
  opacity: 1;
}