@import "../../../styles/variables.css";

.clickable-button-container {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.clickable-button-container:disabled {
  background-color: rgba(0,0,0,0.05);
  cursor: not-allowed;
  filter: opacity(0.5);
}

.clickable-button-container.active--primary {
  background-color: var(--primary);
}

.clickable-button-container.active--green {
  background-color: var(--green);
}

.clickable-button-container.active--blue {
  background-color: var(--blue);
}
